.element__heart_active {
  margin: 0;
  padding: 1px 5px;
  min-width: 22px;
  min-height: 19px;
  background-color: #fff;
  background-image: url("../../../../images/heart-active.svg");
  background-repeat: no-repeat;
  background-position: end;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
