.profile {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 880px;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 584px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
  }
}
