.header {
  margin: 0 auto;
  padding-top: 45px;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 584px;
    min-height: 65px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    max-width: 320px;
    min-height: 56px;
  }
}
