.popup__name-error:last-of-type {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 125px;
    left: 36px;
}

@media screen and (max-width: 1023px) {
    .popup__name-error:last-of-type {
        top: 110px;
        left: 30px;
        max-width: 290px;
    }
}

@media screen and (max-width: 767px) {
    .popup__name-error:last-of-type {
        top: 130px;
        left: 22px;
        max-width: 238px;
    }
}