.popup__submit {
  margin: 48px auto 37px auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 358px;
  max-height: 50px;
  border: 0;
  background-color: #000;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 2px;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .popup__submit {
    min-width: 290px;
  }
}

@media screen and (max-width: 767px) {
  .popup__submit {
    margin-top: 45px;
    min-width: 238px;
  }
}
