.popup__close {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  min-width: 32px;
  min-height: 32px;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: contain;
  background-repeat: none;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  border: 0;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .popup__close {
    min-width: 25px;
    min-height: 25px;
    top: -40px;
    right: -30px;
  }
}

@media screen and (max-width: 767px) {
  .popup__close {
    min-width: 20px;
    min-height: 20px;
    right: 0;
    top: -36px;
  }
}
