.popup__close {
  margin: -40px 0 0 8px;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  border: 0;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .popup__close {
    margin: -35px 0 0 3px;
    min-width: 25px;
    min-height: 25px;
  }
}

@media screen and (max-width: 767px) {
  .popup__close {
    margin: -36px 0 0 -20px;
    min-width: 20px;
    min-height: 20px;
  }
}
