.profile__info {
  margin: 0;
  padding: 0 0 0 30px;
  min-width: 336px;
  display: grid;
  grid-template-columns: repeat(2, fit-content(400px));
  grid-template-rows: repeat(2, fit-content(120px));
  grid-template-areas:
    "name button"
    "job job";
    gap: 16px 18px;
    align-items: end;
}
