.popup__user-job {
  margin: 30px auto 0 auto;
  padding: 0 0 13px 0;
  display: flex;
  max-width: 358px;
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.popup__user-job:focus {
  outline: none;
}