.element__text {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 31px 21px;
  max-width: 246px;
  max-height: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
