.profile__user-job {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  max-height: 18px;
  grid-area: job;
}
