.popup__item {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 358px;
}

@media screen and (max-width: 1023px) {
  .popup__item {
    min-width: 290px;
  }
}

@media screen and (max-width: 767px) {
  .popup__item {
    min-width: 238px;
  }
}
