.popup__card {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    min-width: 1280px;
    min-height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .popup__card::before {
    content: "";
    opacity: 0.5;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #000;
  }
  
  @media screen and (max-width: 1279px) {
    .popup__card  {
      min-width: 100%;
    }
  }
  
  